
.lp {
    margin: auto;
    padding-top: 50px;
    position: relative
}
.lp .yt-vid {
    margin-bottom: 30px
}
.lp h1 {
    font-size: 44px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #321E41;
    margin: 0 auto 30px;
    line-height: 1.3em;
    max-width: 960px
}
.lp h2 {
    font-size: 34px;
    margin-bottom: 25px;
    margin-top: 30px
}
.lp h3 {
    font-size: 26px;
    margin-bottom: 18px;
    margin-top: 30px
}
.lp h4, .lp h5 {
    font-size: 22px;
    margin-bottom: 18px;
    margin-top: 25px
}
.lp h2 br, .lp h3 br {
    display: none
}
.lp .sub-title {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #4A4A4A;
    text-align: center;
    line-height: 1.3em;
    margin: 0 auto 30px;
    max-width: 760px;
    font-weight: normal
}
.lp img {
    max-width: 100%
}
.lp sup {
    font-size: 12px
}
.lp .main-content img:first-of-type {
    display: block
}
.lp .featured-image {
    display: block;
    margin: 30px auto
}
.lp .main .titles {
    max-width: 860px;
    margin: 0 auto
}
.lp .main-content {
    max-width: 760px;
    margin: auto;
    padding: 0
}
.lp .main-content img {
    margin-bottom: 20px
}
.lp .main-content p img:last-child {
    margin-bottom: 0
}
.lp p {
    margin-bottom: 30px
}
.lp h2.infographic-title {
    text-transform: uppercase;
    font-size: 29px;
    margin-bottom: 5px
}
.lp .review-title {
    background: #00abf2;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    font-size: 33px;
    text-transform: uppercase
}
.lp .titles .author {
    padding: 20px 0;
    margin: 0 20px 30px;
    line-height: 1.4;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    position: relative
}
.lp .titles .author img {
    width: 75px;
    float: left;
    margin-right: 10px
}
.lp .titles .author p {
    font-size: 15px;
    margin-bottom: 2px
}
.lp .titles .author h4 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 5px
}
.lp .titles .author .email {
    position: absolute;
    top: 20px;
    right: 0
}
.lp .blue-box, .lp .red-box, .lp .highlight-box {
    border: 2px solid #84D321;
    padding: 0 70px 20px;
    margin: 0 0 30px;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.05)
}
.lp .red-box {
    border-color: #EA1045
}
.lp .blue-box h2, .lp .red-box h2 {
    padding: 30px 65px 20px;
    margin: -1px -70px 0px;
    text-align: center;
    line-height: 1.1
}
.lp .red-box h2 {
    color: #EA1045
}
.lp .blue-box [class^="icon-"]:before, .lp .blue-box [class*=" icon-"]:before {
    color: #84D321;
    margin-right: 15px;
    vertical-align: middle
}
.lp .red-box [class^="icon-"]:before, .lp .red-box [class*=" icon-"]:before, .lp .blue-box .icon-cancel:before {
    color: #EA1045;
    margin-right: 15px;
    vertical-align: middle
}
.lp .highlight-box {
    border-color: #EFEFEF;
    border-top: 3px solid #321E41
}
.lp .lp-nav {
    display: none
}
.lp .blue-box li, .lp .red-box li, .lp .highlight-box li {
    margin-bottom: 15px
}
.lp .blue-box .bullets, .lp .red-box .bullets, .lp .highlight-box .bullets {
    list-style: circle;
    list-style-position: inside;
    padding-left: 26px;
    margin-bottom: 15px
}
.lp .blue-box .bullets li, .lp .red-box .bullets li, .lp .highlight-box .bullets li {
    margin-bottom: 6px
}
.lp .blue-box h3, .lp .red-box h3, .lp .highlight-box h3, .lp .blue-box h4, .lp .red-box h4, .lp .highlight-box h4 {
    margin: 0 0 10px
}
.lp .blue-box p, .lp .red-box p, .lp .highlight-box p {
    margin-bottom: 15px;
    line-height: 1.4
}
.lp .blue-box ul:first-child, .lp .red-box ul:first-child {
    margin-top: 20px
}
.lp .citation {
    vertical-align: super;
    font-size: 10px
}
.lp .reviews {
    background: #F1F3F4;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    padding: 50px;
    clear: both;
}
.lp .reviews, .lp .reviews * {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    /*text-align: left;*/
}
.lp .review {
    background: #fff;
    padding: 20px 50px 98px;
    border: 1px solid #EFEFEF;
    border-top: 3px solid #4f81bc;/*#321E41;*/
    max-width: 760px;
    margin: 0 auto 50px;
    border-radius: 4px;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    /*margin-top: 26px;*/
    /*overflow: inherit;*/
}
.lp .review:last-of-type {
    margin-bottom: 0
}
.lp .review h4 {
    font-size: 34px;
    margin: 4px 0 0;
    line-height: 1;
    /*padding-right: 100px;*/
    padding-left: 70px;
    width: 100%;
    text-align: center;
    margin-bottom: 18px !important;
}
.lp .review h4 a {
    color: inherit;
    text-decoration: none
}
.lp .review h4 span.subtitle {
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-top: 5px;
}
.lp .review>img,
.lp .review>.number_sidebar {
    position: absolute;
    top: 20px;
    /*right: 45px;*/
    left: 45px;
}
.lp .review a.readmore,
.lp .review a.buynow {
    /*display: none;*/
    display: inline-block;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 14px 7px;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    box-shadow: none;
    border: none;
    text-align: center;
    /*min-width: 230px;*/
    width: 45%;
    border-radius: 5px;
    border-bottom: 5px solid ;
    border-top: none;
    border-left: none;
    border-right: none;
    text-shadow: 1px 1px 1px rgba(178, 72, 6, 1);
}
.lp .review a.readmore {
    background: #66a513;
    background: -moz-linear-gradient(top,#66a513 -1%,#025205 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(-1%,#66a513),color-stop(100%,#025205));
    background: -webkit-linear-gradient(top,#66a513 -1%,#025205 100%);
    background: -o-linear-gradient(top,#66a513 -1%,#025205 100%);
    background: -ms-linear-gradient(top,#66a513 -1%,#025205 100%);
    background: linear-gradient(to bottom,#66a513 -1%,#025205 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66a513',endColorstr='#025205',GradientType=0);
    border-bottom-color: rgb(2, 47, 4);
    margin: 23px 3.5% 23px 1.5%;
}
.lp .review a.buynow {
    background: #ff9247;
    background: -moz-linear-gradient(top,#ff9247 -1%,#f75b03 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(-1%,#ff9247),color-stop(100%,#f75b03));
    background: -webkit-linear-gradient(top,#ff9247 -1%,#f75b03 100%);
    background: -o-linear-gradient(top,#ff9247 -1%,#f75b03 100%);
    background: -ms-linear-gradient(top,#ff9247 -1%,#f75b03 100%);
    background: linear-gradient(to bottom,#ff9247 -1%,#f75b03 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9247',endColorstr='#f75b03',GradientType=0);
    border-bottom-color: #b24806;
    /*margin: 23px auto;*/
    margin: 23px 1.5% 23px 3.5%;
}
.lp .review .bottom {
    order: 4;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.lp .review .bottom a.readmore,
.lp .review .bottom a.buynow {
    display: inline-block;
}
.product-image-box, .circle-summary, .grade {
    display: inline-block;
    width: 50%;
    border: 1px solid #F0F0F0;
    padding: 15px;
    text-align: center;
    vertical-align: top;
    float: left;
    height: 166px;
    /*text-align: center;*/
}
.product-image-box {
    padding: 8px;
}
.product-image-box a {
    display: block;
}
.product-image-box img {
    max-height: 150px
}
.circle-summary, .grade {
    border-left: 0
}
/*.lp .circle-summary {
	padding-bottom: 15px
}*/
.lp .circle-summary .circle-text {
    /*margin-top: -10px;*/
}
.lp .circle-summary .circle-text h1 {
    font-size: 48px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 7px;
}
.lp .review .circle-summary h4, .lp .review .grade p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
    padding-right: 0
}
.lp .review .circle-summary p, .lp .review .circle-summary h5 {
    margin: 0
}
.lp .review .circle-summary p {
    /*	position: absolute;
        top: 58px;
        left: 50%;
        transform: translateX(-50%);*/
    color: #9B9B9B;
    font-size: 16px;
    line-height: 20px;
    margin-top: 7px;
}
.lp .review .circle-summary h5 {
    color: #4A4A4A;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    /*	position: absolute;
        top: 81px;
        left: 50%;
        transform: translateX(-50%)*/
}
/*.lp .review svg {
	top: 12px
}*/
.lp .circle-summary {
    position: relative;
    /*padding-top: 160px*/
}
.lp .grade h1 {
    font-size: 72px;
    font-weight: normal
}
.lp .review br:first-child {
    display: none
}
.lp .review .right p:last-of-type {
    margin-bottom: 15px
}
.lp .ratings_sidebar {
    clear: both;
    padding: 30px 0 5px;
    border-bottom: 1px solid #F0F0F0;
}
.ratings_sidebar em {
    display: inline-block;
    vertical-align: bottom;
    width: 45%;
    color: #4A4A4A;
    /*font-weight: bold;*/
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px
}
.lp .ratings_sidebar .bar, .left-bl .ratings_sidebar .bar {
    display: inline-block;
    vertical-align: bottom;
    /*width: 200px;*/
    background-color: #c7c7c7;
    border-radius: 20px;
    width: 76%;
    position: relative;
    border: solid 1px rgba(74, 74, 74, 0.21);
}
.lp .ratings_sidebar .bar .fill, .left-bl .ratings_sidebar .bar .fill {
    background-color: #a0ee3d;
    border-radius: 25px;
    color: #fff;
    display: block;
    height: 25px
}
.lp .ratings_sidebar .bar .fill.fill2,.left-bl .ratings_sidebar .bar .fill.fill2 {
    background-color: #f1f040;
}
.lp .ratings_sidebar .bar .fill.fill3,.left-bl .ratings_sidebar .bar .fill.fill3 {
    background-color: #d12727;
}
.lp .ratings_sidebar .bar .average,.left-bl .ratings_sidebar .bar .average {
    display: block;
    text-align: left;
    padding-right: 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 25px;
    line-height: 25px
}
.lp .ratings_sidebar .bar .average small,.left-bl .ratings_sidebar .bar .average small {
    position: relative;
    /*left: -100%;*/
    padding-left: 15px;
    /*border-right: 2px dotted #62A50E;*/
    border-radius: 20px;
    display: block;
    padding-right: 10px;
    /*color: #62A50E;*/
    white-space: nowrap
}
.lp .ratings_sidebar p,.left-bl .ratings_sidebar p {
    display: inline-block;
    vertical-align: bottom;
    width: 22%;
    color: #4A4A4A;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    margin: 0
}
.lp .ratings_sidebar li,.left-bl .ratings_sidebar li {
    padding: 12px;
    margin: 0;
    /*border-bottom: 2px solid #F0F0F0;*/
    position: relative
}
.lp .ratings_sidebar li:last-child,.left-bl .ratings_sidebar li:last-child {
    border-bottom: 0
}
.lp .ratings_sidebar .bar .fill.fill3 + em,.left-bl .ratings_sidebar .bar .fill.fill3 + em {
    color: #fff;
    text-shadow: 1px 1px 1px rgb(167, 167, 167);
}
.lp .ratings_sidebar em i:before,.left-bl .ratings_sidebar em i:before {
    content: "\F086";
    font-family: "scale";
    font-style: normal;
    font-weight: normal;
    margin-left: 10px;
    color: #DCDCDC;
    cursor: pointer
}
.lp .ratings_sidebar .popup,.left-bl .ratings_sidebar .popup {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding: 12px;
    font-size: 14px;
    z-index: 10;
    width: 93%
}
.lp .review svg:nth-child(1) path {
    stroke: #84D321;
    stroke-width: 20px
}
.lp .review svg:nth-child(2) path {
    stroke: #fff;
    stroke-width: 22px
}
.lp .review .trigger-review {
    background: transparent;
    padding: 12px;
    color: inherit;
    text-transform: uppercase;
    border-radius: 0;
    display: block;
    border-top: 2px solid #F0F0F0;
    margin: 12px -12px -12px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: left
}
.lp .review .trigger-review i {
    float: right
}
.lp .review .trigger-review i:before {
    content: "\E82A";
    font-weight: bold;
    font-size: 16pt
}
.lp .toggle {
    display: none
}
.lp .review form {
    display: none;
    margin-top: -18px;
    padding: 12px
}
.lp .review form h4 {
    display: none
}
.lp .review form input[type='text'], .lp .review form textarea {
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    background-color: #FFF;
    width: 46%;
    padding: 11px;
    margin-bottom: 20px
}
.lp .review form input[type='text'] {
    margin-right: 6%
}
.lp .review form input[type='text']:nth-of-type(2n) {
    margin-right: 0
}
.lp .review form textarea {
    width: 100%;
    margin-top: 20px;
    height: 100px
}
.lp .review form label {
    display: inline-block;
    width: 50%;
    vertical-align: middle
}
.lp .review form p {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-left: 15px
}
.lp .review form input[type='range'] {
    vertical-align: middle
}
.lp .review form button {
    background: #fff;
    color: #321E41;
    border: 2px solid #321E41;
    display: block;
    width: 300px;
    margin: 0 auto 15px
}
.lp .left_sidebar, .lp .right {
    float: left;
    padding: 0 30px 5px;
    border-top: 1px solid #f0f0f0
}
.lp .left_sidebar {
    width: 60%;
    padding-left: 70px;
    margin-left: -70px;
    border-right: 1px solid #f0f0f0;
    padding-bottom: 10px
}
.lp .right {
    width: 61%;
    border-left: 1px solid #f0f0f0;
    margin-right: -70px;
    margin-left: -1px;
    padding-right: 70px
}
.lp .left_sidebar .pros-cons li {
    font-size: 16px;
    color: #4A4A4A;
    margin-bottom: 12px;
    padding-left: 40px;
    position: relative
}
.lp .left_sidebar .pros-cons li:before {
    font-family: "scale";
    display: inline-block;
    text-align: center;
    /*content: "\E899";*/
    color: #84D321;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 25px;
    content: "";
    background: url(../img/check.png) no-repeat left center;
    width: 14px;
    height: 22px;
}
.lp .left_sidebar .pros-cons ul:nth-of-type(2) li:before {
    /*content: "\E89A";*/
    color: #EA1045;
    content: "";
    background: url(../img/check-no.jpg) no-repeat left center;
}
.lp .right h5 {
    font-size: 26px
}
.lp .right {
    font-size: 16px
}
.lp .right a:last-of-type:not(.link) {
    /*background: #EA1045;*/
    /*border-radius: 30px;*/
    display: inline-block;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 14px 30px;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    box-shadow: none;
    border: none;
    text-align: center;
    min-width: 230px;

    border-radius: 5px;
    /*
        border-bottom: 4px solid #203d60;
        border-top: none;
        border-left: none;
        border-right: none;

            background: #4e80bc;
        border: 1px solid #296ab7;
        background: -moz-linear-gradient(top,#4e80bc 0%,#296ab7 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#4e80bc),color-stop(100%,#296ab7));
        background: -webkit-linear-gradient(top,#4e80bc 0%,#296ab7 100%);
        background: -o-linear-gradient(top,#4e80bc 0%,#296ab7 100%);
        background: -ms-linear-gradient(top,#4e80bc 0%,#296ab7 100%);
        background: linear-gradient(to bottom,#4e80bc 0%,#296ab7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e80bc',endColorstr='#296ab7',GradientType=0);*/

    /*border-bottom: 5px solid #b24806;*/
    border-bottom: 5px solid rgb(2, 47, 4);

    border-top: none;
    border-left: none;
    border-right: none;
    text-shadow: 1px 1px 1px rgba(178,72,6,1);

    /*background: #ff9247;
    background: -moz-linear-gradient(top,#ff9247 -1%,#f75b03 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(-1%,#ff9247),color-stop(100%,#f75b03));
    background: -webkit-linear-gradient(top,#ff9247 -1%,#f75b03 100%);
    background: -o-linear-gradient(top,#ff9247 -1%,#f75b03 100%);
    background: -ms-linear-gradient(top,#ff9247 -1%,#f75b03 100%);
    background: linear-gradient(to bottom,#ff9247 -1%,#f75b03 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9247',endColorstr='#f75b03',GradientType=0);*/

    background: #66a513;
    background: -moz-linear-gradient(top,#66a513 -1%,#025205 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(-1%,#66a513),color-stop(100%,#025205));
    background: -webkit-linear-gradient(top,#66a513 -1%,#025205 100%);
    background: -o-linear-gradient(top,#66a513 -1%,#025205 100%);
    background: -ms-linear-gradient(top,#66a513 -1%,#025205 100%);
    background: linear-gradient(to bottom,#66a513 -1%,#025205 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66a513',endColorstr='#025205',GradientType=0);
}
.lp .right p:last-of-type:after {
    position: absolute;
    bottom: 96px;
    left: 0;
    right: 0;
    content: "";
    border-top: 1px solid #F0F0F0
}
.lp .right a:last-of-type:not(.link) {
    white-space: nowrap;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%)
}
.lp .right a:last-of-type i {
    margin-right: -10px
}
.lp .right a:last-of-type i:before {
    margin-right: 0
}
.lp .review .right small {
    font-size: 12px;
    line-height: 1.3;
    display: inline-block
}
.lp .review .right small span {
    margin-left: 5px
}
.citations h3 {
    background-color: #FDFDFD;
    color: transparent;
    line-height: 0;
    padding: 20px 0;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    margin-top: 0
}
.citations h3:before {
    content: "Citations";
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14pt;
    max-width: 620px;
    display: block;
    margin: auto;
    line-height: 22pt;
    color: #321E41
}
.citations ol, .citations ul {
    max-width: 620px;
    margin: 30px auto;
    color: #4A4A4A;
    line-height: 1.2;
    font-size: 16px;
    padding-left: 20px
}
.citations li {
    margin-bottom: 10px
}
.citations p {
    max-width: 620px;
    margin: auto
}
.citations .modal {
    display: none
}
.lp .mce-content-body .modal {
    display: block;
    margin: 30px auto
}
.citations p:last-child {
    margin-bottom: 0
}
.citations li br {
    display: none
}
.lp .sidebar {
    max-width: 620px;
    margin: auto;
    padding-bottom: 35px
}
.lp .sidebar>img {
    float: none;
    display: block;
    margin: 0 auto 15px;
    width: 90px
}
.lp .sidebar ul {
    text-align: center
}
.lp .author img {
    float: left;
    width: 120px;
    margin-right: 30px
}
.lp .sidebar h3, .lp .sidebar h4 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-top: 0
}
.lp .sidebar h3 {
    color: #a7a7a7
}
.lp .sidebar h3:first-of-type {
    display: block
}
.lp .sidebar h3:after {
    content: ": "
}
.lp .sidebar p {
    font-size: 18px;
    color: #4A4A4A
}
.lp .sidebar h4+p, .lp .sidebar h4+p+p {
    margin-left: 0;
    margin-bottom: 15px
}
.lp .modal-link {
    padding: 10px;
    display: block;
    background: #f0f0f0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: bold
}
.lp .modal-link:hover {
    background: #f9f9f9
}
.lp #products-list {}
.lp #products-list .modal-header {
    padding: 20px;
    background-color: #FDFDFD;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    cursor: pointer
}
.lp #products-list .modal-header h2 {
    max-width: 600px;
    margin: auto;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-align: center
}
.lp #products-list .modal-header h2:after {
    display: none
}
.lp #products-list.open .modal-header h2:after {
    content: "\E829"
}
.lp #products-list .close, .lp .modal-footer {
    display: none
}
.lp #products-list ul {
    max-width: 640px;
    padding: 0 20px;
    margin: auto;
    font-size: 16px;
    color: #4A4A4A;
    list-style: disc;
    overflow: hidden;
    display: block;
    list-style-position: inside
}
.lp #products-list ul:first-of-type {
    margin-top: 30px
}
.lp #products-list ul:last-of-type {
    margin-bottom: 30px
}
.lp #products-list ul li {
    padding: 4px 13px 4px 5px;
    margin-bottom: 0
}
.lp .modal {
    width: 400px;
    max-height: 520px;
    overflow-y: auto;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    border-radius: 4px;
    display: none;
    z-index: 500
}
.lp .mce-content-body .modal {
    max-width: none;
    max-height: none;
    position: relative
}
.lp #products-list .close {
    position: absolute;
    top: 18px;
    right: 15px;
    display: block;
    z-index: 50
}
.lp .modal {
    position: absolute
}
.lp .modal.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: none;
    max-height: none;
    z-index: 500;
    width: auto;
    padding-top: 50px
}
.lp .modal.fixed .modal-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0
}
.lp ul.tabs {
    font-size: 0;
    margin: 0
}
.tabs li.selected img:not(.selected), .tabs li:not(.selected) img.selected {
    display: none
}
.tabs li {
    display: inline-block;
    width: 25%;
    cursor: pointer;
    font-size: 0
}
.tabs li img {
    max-width: 100%;
    margin: 0;
    vertical-align: middle
}
.lp ul.tab-content {
    background: #dedfe0;
    margin: 0 0 25px
}
.lp .main-content .tabs img {
    margin-bottom: 0
}
.lp .main-content .tabs li.selected img:first-of-type {
    display: inline
}
.tab-content>li:not(.selected) {
    display: none
}
.tab-content>li {
    padding: 0 40px 25px
}
.tab-content h2 {
    background: #3495f1;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    padding: 15px 0 10px;
    font-size: 24px;
    margin: 0 -40px 25px
}
.lp>.main .tab-content h2 {
    margin: 0 -40px 25px
}
.tab-content .checked li:before {
    font-family: "scale", sans-serif;
    content: '\e843';
    padding: 0 .6em 0 0
}
.tab-content .dashed li:before {
    font-family: "scale", sans-serif;
    content: '\e887';
    padding: 0 .6em 0 0
}
.tab-content img.hair-img {
    float: right
}

.lp .review>img,
.lp .review>.number_sidebar {
    /*		top: 0;
            transform: translate(-50%, -50%);
            left: 50%;*/
    width:69px;
    height:50px;
    color:#fff;
    text-align:center;
    font-size:34px;
    font-weight:700;
    line-height:50px;

    border-radius: 5px;

    /*
            background: #f46c0d;
            border-bottom: 5px solid #b24806;*/

    border-bottom: 4px solid #203d60;

    background: #4e80bc;
    background: -moz-linear-gradient(top,#4e80bc 0%,#296ab7 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#4e80bc),color-stop(100%,#296ab7));
    background: -webkit-linear-gradient(top,#4e80bc 0%,#296ab7 100%);
    background: -o-linear-gradient(top,#4e80bc 0%,#296ab7 100%);
    background: -ms-linear-gradient(top,#4e80bc 0%,#296ab7 100%);
    background: linear-gradient(to bottom,#4e80bc 0%,#296ab7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e80bc',endColorstr='#296ab7',GradientType=0);

}

@media (max-width: 1180px) {
    .lp h1 {
        padding: 0 20px
    }
}
@media (max-width:980px) {
    .lp h1, .lp .sub-title {
        text-align: center;
        padding: 0 20px
    }
    .lp .main-content, .lp .main .main-content {
        max-width: 640px;
        margin: auto;
        padding: 0 20px
    }
    .lp .main>*, .lp .main .titles {
        max-width: none;
        min-height: 0
    }
    .lp .main-content, .lp .main .main-content {
        max-width: 640px;
        margin: auto;
        padding: 0 20px
    }
    .lp .blue-box, .lp .red-box, .lp .highlight-box {
        margin: 0 -70px 30px
    }
}
@media (max-width: 860px) {
    .lp {
        padding-top: 25px
    }
    .lp .sub-title {
        padding: 0 20px
    }
    .lp h1 {
        font-size: 36px;
        margin-bottom: 20px
    }
    .lp .blue-box, .lp .red-box, .lp .highlight-box {
        margin: 0 0 30px;
        padding: 0 20px 20px
    }
    .lp .blue-box h2, .lp .red-box h2 {
        padding: 25px 20px 15px;
        margin: -1px -20px 0px;
        line-height: 1.1
    }

    .lp .review {
        margin-bottom: 20px
    }
}
@media (max-width: 992px) {
    .lp h1 {
        font-size: 30px
    }
    .lp .sub-title {
        font-size: 18px;
        font-weight: normal
    }
    .lp h2 {
        line-height: 1.1
    }
    .lp .lp-nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        list-style: none;
        padding: 0;
        border-bottom: 1px solid #dedede;
        background: #fff;
        z-index: 100;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        cursor: pointer;
        display: none;
        margin: 0
    }
    .lp .lp-nav:before {
        content: "\E82A";
        font-family: "scale";
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 14pt
    }
    .lp .lp-nav li {
        padding: 8px 5px;
        font-size: 15px;
        text-align: center
    }
    .lp .lp-nav li:first-child {
        margin: 0;
        background: #81b9de;
        color: #fff
    }
    .lp .lp-nav li:nth-child(n+2) {
        display: none
    }
    .lp .lp-nav.open li:nth-child(n) {
        display: list-item
    }
    .lp .review h4 {
        font-size: 25px;
        text-align: center;
        margin-right: 0;
        padding: 0 20px;
        width: 100%;
        margin-bottom: 18px !important;
    }
    .lp .review {
        padding: 38px 0 98px;
        overflow: inherit;
        margin-bottom: 50px
    }
    .lp .review:first-of-type {
        margin-top: 26px
    }
    .lp .review:last-of-type {
        margin-bottom: 0
    }

    /*	.lp .review>.number_sidebar:before {
            content: '';
            background: #f46c0d;
            width:69px;
            height:50px;
            border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
            border-bottom: 5px solid #b24806;
        }*/

    .lp .review>img,
    .lp .review>.number_sidebar {
        top: 0;
        transform: translate(-50%, -50%);
        left: 50%;
    }
    .lp .reviews {
        padding: 20px;
        margin: 0 -20px;
    }
    .lp .review:first-of-type {
        margin-top: 26px;
    }

    .lp .review>h4:first-child+p {
        text-align: center;
        font-size: 18px
    }
    .lp .review .byline {
        text-align: center
    }
    .product-image-box, .circle-summary {
        width: 50%;
        height: 166px
    }
    .product-image-box {
        padding: 8px
    }
    .grade {
        float: none;
        display: block;
        width: auto;
        clear: left;
        overflow: hidden;
        height: auto;
        padding: 12px
    }

    .lp .review {
        display: flex;
        flex-flow: wrap;
    }
    .lp .review .left_sidebar {
        order: 1;
    }
    .lp .review .ratings_sidebar {
        padding: 10px 0;
        width: 100%;
        order: 2;
    }
    .lp .review .right {
        order: 3;
    }
    .lp .review a.readmore,
    .lp .review a.buynow {
        display: inline-block;
    }

    .lp .review a.readmore .desktop,
    .lp .review a.buynow .desktop {
        display: none;
    }

    .lp .review svg {
        width: 6rem;
        height: 6rem
    }
    .product-image-box img {
        /*max-height: 127px*/
        max-height: 150px;
        /*margin: 0 auto;*/
    }
    .lp .review .circle-summary h4 {
        display: none
    }
    /*.lp .circle-summary {
        padding-top: 100px
    }*/
    .lp .review .circle-summary p {
        /*		top: auto;
                bottom: 20px;*/
        white-space: nowrap
    }
    .lp .review .circle-summary h5 {
        top: 52px
    }
    .lp .grade h1 {
        font-size: 48px;
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 0;
        padding: 0;
        vertical-align: middle
    }
    .lp .grade p {
        display: inline-block;
        vertical-align: middle;
        margin: 0
    }
    .lp .ratings_sidebar {
        padding: 10px 0;
    }
    .lp .ratings_sidebar em {
        display: block;
        width: auto
    }
    .lp .ratings_sidebar .bar {
        width: 76%
    }
    .lp .ratings_sidebar p {
        width: 22%;
        line-height: 27px;
    }
    .lp .left_sidebar, .lp .right {
        display: block;
        width: auto;
        float: none;
        padding: 20px;
        margin: 0
    }
    .lp .right {
        padding-bottom: 0
    }
    .lp .left_sidebar h3, .lp .right h5 {
        margin-top: 0
    }
    .lp .right a:last-of-type:not(.link) {
        font-size: 16px;
        white-space: nowrap
    }
    .lp .right p:last-of-type {
        margin-bottom: 20px
    }
    .lp div.citations, .lp .sidebar {
        padding: 0 20px 20px
    }
    .lp div.citations li {
        word-break: break-all
    }
    .citations h3 {
        margin: 0 -20px 20px;
        padding: 20px
    }
}
@media (max-width: 600px) {
    .lp .review-title {
        font-size: 30px
    }
    .lp .sub-title {
        margin-bottom: 20px
    }
    .lp h2 {
        margin-top: 20px;
        font-size: 30px;
        margin-bottom: 20px
    }
    .lp p {
        margin-bottom: 20px;
        line-height: 1.5
    }
    .lp .blue-box h2, .lp .red-box h2 {
        padding: 20px 15px 10px;
        line-height: 1.1;
        text-align: center;
        margin: -1px -15px 0
    }
    .lp .blue-box, .lp .red-box, .lp .highlight-box {
        margin-top: 30px;
        padding: 0 15px 15px
    }
    .lp .blue-box li, .lp .red-box li, .lp .highlight-box li {
        margin-bottom: 8px;
        line-height: 1.3
    }
    .lp .red-box [class^="icon-"]:before, .lp .red-box [class*=" icon-"]:before, .lp .blue-box .icon-cancel:before, .lp .blue-box [class^="icon-"]:before, .lp .blue-box [class*=" icon-"]:before {
        margin-right: 10px;
        vertical-align: 0;
        font-size: 17px
    }
    .lp .blue-box [class^="icon-"], .lp .blue-box [class*=" icon-"], .lp .red-box [class*=" icon-"], .lp .red-box [class^="icon-"] {
        float: left;
        margin-bottom: 5px
    }
    .lp .blue-box .bullets, .lp .red-box .bullets, .lp .highlight-box .bullets {
        padding-left: 13px
    }
    .lp h3 {
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 5px
    }
    .lp .left_sidebar .pros-cons li:before {
        font-size: 20px
    }
    .lp .left_sidebar, .lp .right {
        padding: 15px
    }
    .lp .left_sidebar .pros-cons li {
        padding-left: 30px;
        margin-bottom: 7px
    }
    .lp h4, .lp h5 {
        margin-bottom: 10px
    }
    .lp #products-list ul:first-of-type {
        margin-top: 12px
    }
    .lp #products-list ul {
        padding: 0 10px
    }
    .lp #products-list ul:last-of-type {
        margin-bottom: 12px
    }
    .lp .titles .author img {
        width: 48px
    }
    .lp .author {
        padding: 15px 0
    }
    .lp .author p {
        font-size: 15px
    }
}
@media (max-width: 480px) {
    .lp h1 {
        font-size: 31px
    }
    .lp .main-content h1 {
        padding: 0;
        font-size: 30px
    }
    .lp .sub-title {
        text-align: left
    }
    .lp .author img {
        float: none;
        display: block;
        width: 75px;
        margin: 0 auto 15px
    }
    .lp .sidebar h4, .lp .sidebar h4+p, .lp .sidebar h4+p+p {
        display: block;
        text-align: center;
        margin-left: 0
    }
    .lp .review form input[type='text'] {
        width: 100%;
        margin-right: 0
    }
    .lp .review form {
        margin-top: -13px
    }
    .lp .review form label {
        width: auto;
        margin-right: 10px
    }
    .lp .review form input[type='range'] {
        width: 64px
    }
    .lp .review form p {
        margin-left: 11px
    }
    .lp .ratings_sidebar em {
        font-size: 15px
    }
    .lp .review form button {
        width: auto;
        padding: 14px 20px
    }
    .lp #products-list ul li {
        float: none;
        width: auto
    }
    .lp h2.infographic-title {
        font-size: 24px
    }
    .lp #products-list .modal-header {
        padding: 15px 20px
    }
    .lp ul.tab-content {
        margin: 0 -20px 20px
    }
    .tab-content>li {
        padding: 0 20px 20px
    }
    .tab-content img.hair-img {
        float: none;
        display: block;
        margin: auto
    }
    .lp #products-list .close {
        top: 13px
    }
    .lp .modal {
        width: 100%
    }
}
@media (max-width: 380px) {
    .lp .titles .author .email {
        position: static;
        text-align: center
    }
    .lp h1, .lp .sub-title {
        padding: 0 10px
    }
}
@media (max-width: 340px) {
    .lp .blue-box h2, .lp .red-box h2, .lp .highlight-box h2 {
        font-size: 20pt
    }
    .lp .review-title {
        font-size: 26px
    }
}
@media (max-width:320px) {
    .lp h1, .lp .main-content h1 {
        font-size: 27px
    }
    .lp h2 {
        font-size: 26px
    }
    .lp .blue-box h2, .lp .red-box h2, .lp .highlight-box h2 {
        font-size: 19pt
    }
}
.review svg {
    width: 8rem;
    height: 8rem;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    fill: none
}
.review svg:nth-child(1) path {
    fill: none;
    stroke-width: 6;
    stroke-dasharray: 629;
    stroke: #6f6f6f
}
.review svg:nth-child(2) {
    transform: translateX(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) rotate(-90deg);
    -moz-transform: translateX(-50%) rotate(-90deg);
    -ms-transform: translateX(-50%) rotate(-90deg)
}
.review svg:nth-child(2) path {
    fill: none;
    stroke-width: 8;
    stroke-dasharray: 629;
    stroke: #f3f3f3
}
.review svg text {
    font-size: 24pt;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 100;
    fill: #6f6f6f
}

/***

====================================================================
	SCROLL BUTTON
====================================================================

***/

#scroll_button{display:none;z-index: 100000;position: fixed;bottom: 0;left: 20px;min-width: 200px;min-height: 35px;}
#scroll_button a{min-width: 200px;padding: 5px 10px 10px !important;color: #fff;font-family: 'Roboto Condensed', sans-serif;font-weight: 800;display: block;text-align: center;box-sizing: border-box;font-size: 18px;letter-spacing: 1px;

    text-decoration: none;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
    border: 1px solid #f78c10;
    background: #fec500;
    background: -moz-linear-gradient(top, #fec500 0%, #fc5f00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fec500), color-stop(100%,#fc5f00));
    background: -webkit-linear-gradient(top, #fec500 0%,#fc5f00 100%);
    background: -o-linear-gradient(top, #fec500 0%,#fc5f00 100%);
    background: -ms-linear-gradient(top, #fec500 0%,#fc5f00 100%);
    background: linear-gradient(to bottom, #fec500 0%,#fc5f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec500', endColorstr='#fc5f00',GradientType=0 );
}


.custom_rating{
    padding: 2px !important;
}
.custom_rating .bar{
    margin: 0px !important;
}

.ratings_sidebar.custom_rating li{
    padding: 3px 12px;
}

.ratings_sidebar.custom_rating{
    border-bottom: none;
}


.rate-container{
    display: flex;
    display: -webkit-flex;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    position: relative;
}

.rate-left{
    width: 190px;
    text-align: center;
    border-right: 1px solid #e9e9e9;
}
.rate-right{
    flex:1;
    -webkit-flex: 1;
}

.raitings-container .ratings_sidebar{
    padding: 0;
}

.raitings-container {
    margin-top: 40px;
}

.rate-title-container{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}
.rate-title-container .title{
    margin-right: 15px;
    display: block;
}
.rate-title-container .rate-bar,.rate-title-container .rateit-new{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.rate-title-container{
    background: #e9eff5;
    padding: 5px 0 5px 15px;
}

.rate-title-container{
    color: #4f81bc;
    font-weight: 600;
}
.rate-title-container a{
    color: #4f81bc;
    font-weight: bold;
}

.rate-container .ratings_sidebar li:nth-child(2n) {
    background: #fdfdfd;
}
.rate-container ul.ratings_sidebar li:nth-child(2n+1) {
    background: #f9f9f9;
}

.rate-left img{
    max-height: 190px;
    width: auto;
    padding-top: 20px;
}
.rate-container .rate-left{
    flex-direction: column;
    -webkit-flex-direction: column;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.rate-container .rate-btn{
    margin: 15px 0;
    display: inline-block;
    padding: 8px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff!important;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    -webkit-box-shadow: 0 2px 5px 0 rgba(50,50,50,0.46);
    -moz-box-shadow: 0 2px 5px 0 rgba(50,50,50,0.46);
    box-shadow: 0 2px 5px 0 rgba(50,50,50,0.46);
    background: #4e80bc;
    border: 1px solid #296ab7;
    background: -moz-linear-gradient(top,#4e80bc 0%,#296ab7 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#4e80bc),color-stop(100%,#296ab7));
    background: -webkit-linear-gradient(top,#4e80bc 0%,#296ab7 100%);
    background: -o-linear-gradient(top,#4e80bc 0%,#296ab7 100%);
    background: -ms-linear-gradient(top,#4e80bc 0%,#296ab7 100%);
    background: linear-gradient(to bottom,#4e80bc 0%,#296ab7 100%);
}
.rate-container .rate-btn:hover{
    background: #296ab7;
    background: -moz-linear-gradient(top,#296ab7 0%,#4e80bc 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#296ab7),color-stop(100%,#4e80bc));
    background: -webkit-linear-gradient(top,#296ab7 0%,#4e80bc 100%);
    background: -o-linear-gradient(top,#296ab7 0%,#4e80bc 100%);
    background: -ms-linear-gradient(top,#296ab7 0%,#4e80bc 100%);
    background: linear-gradient(to bottom,#296ab7 0%,#4e80bc 100%);
}
@media (max-width: 825px) {
    .rate-container{
        display: block;
    }
    .rate-container .rate-left{
        width: 100%;
    }
}